---
export const prerender = false;
import Fuse from "fuse.js";
import Layout from "../../layouts/Layout.astro";
import { catalogo } from "../../data/catalogo.js";
import FormBuscar from "../../components/FormBuscar.astro";
import Catalogo from "../../components/Catalogo.astro";
import Listado from "../../components/Listado.astro";
const { params } = Astro;
const termino = params.termino;
const categorias = catalogo.map((item) => {
  return {
    categoria: item.categoria,
    alias: item.alias,
    item: item.data[0]["href"],
  };
});

const categoriasAll = catalogo.flatMap((cat) =>
  cat.data.map((joya) => ({
    ...joya,
    categoria: cat.categoria,
    alias: cat.alias,
  }))
);

const fuse = new Fuse(categoriasAll, {
  keys: ["codigo", "nombre", "descripcion"],
  threshold: /^-?\d+(\.\d+)?$/.test(termino)?0:0.4,
});
const searh = fuse.search(termino).map((item) => item["item"]);
---

<Layout>
  <header
    class="bg-slate-200 py-4 flex items-center justify-center font-bold text-2xl"
  >
    <a href="/"> Catálogo de Joyas </a>
  </header>
  <div
    class="grid xl:grid-cols-[auto_1fr] lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1"
  >
    <nav class="w-full bg-slate-200 flex flex-col gap-4 xl:w-96 xl:pt-4 xl:pl-2">
      <FormBuscar inputText={termino} />
      <Catalogo catalogoList={categorias} focus={`none`} />
    </nav>
    <Listado catalogo={searh} />
  </div>
</Layout>
