---
const { catalogoList, focus } = Astro.props;
---

<div>
  <p class="text-lg font-bold px-4 pb-2">Categorias</p>
  <div class="overflow-x-auto scrollbar-none flex gap-4 overscroll-auto px-4 pb-2">
    {
      catalogoList.map((categoria: any) => (
        <a href={`/categoria/${categoria.alias}`}>
          <div class="cursor-pointer w-20 flex flex-col items-center justify-center ">
            <img
              src={`https://www.deltajoyas.cl/${categoria.item}`}
              alt={categoria.categoria}
              class={`size-20 rounded-full object-cover ${(focus==categoria.alias || focus==='all')?'':'opacity-25'} `}
              loading="lazy"
              decoding="async"
            />
            <label class="w-20 h-10 text-sm font-semibold flex items-start justify-center text-wrap text-center ">
              {categoria.categoria}
            </label>
          </div>
        </a>
      ))
    }
  </div>
</div>
