---
import { FaMagnifyingGlass,FaBars } from "react-icons/fa6";
const { inputText } = Astro.props;

---

<div class="px-4 flex gap-2">
 
  <div class="rounded-full flex items-center w-full border h-10 gap-1 px-2">
    <form class="flex  w-full" id="search-form">
      <input
        type="text"
        name="search-input"
        id="search-input"
        placeholder="Buscar..."
        type="text"
        value={inputText}
        class="h-full w-full focus:outline-none px-2 font-medium text-lg"
      />
      <button type="submit"><FaMagnifyingGlass className="size-5" /></button>
    </form>
  </div>
</div>
<script is:inline>
  document.getElementById("search-form").addEventListener("submit", (e) => {
    e.preventDefault();
    const query = document.getElementById("search-input").value.trim();
    if (query) {
      window.location.href = `/buscar/${encodeURIComponent(query)}`;
    }
  });
</script>
