---
const { catalogo } = Astro.props;
---

<div
  class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 grid-cols-2 p-4 gap-4 bg-slate-200 h-min"
>
  {
    catalogo.map((item: any) => (
      <a href={`/detalle/${item.codigo}`}>
        <div class="aspect-square border rounded-lg ">
          <img
            src={`https://www.deltajoyas.cl/${item.href}`}
            alt={item.nombre}
            class="w-full h-full object-cover rounded-t-lg"
            loading="lazy"
            decoding="async"
          />
          <div class=" p-1 text-base font-semibold  capitalize ">
            {item.nombre.toLocaleLowerCase() }
          </div>
        </div>
      </a>
    ))
  }
</div>
