---
import "../styles/global.css";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Catálogo de Joyas</title>
	</head>
	<body class="bg-slate-900 text-slate-700 font-Raleway select-none">
		<div class="bg-slate-200 w-full container mx-auto h-screen">
			<slot />		
		</div>	
	</body>
</html>

